.ranking-container {
    background-color: #000d1c;
    background-image: url("https://www.transparenttextures.com/patterns/brushed-alum-dark.png");
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ranking-div {
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center;
    margin-top: -21px;
    overflow-y: scroll;
}
.ranking-div__headr {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    width: 70%;
    border-bottom: solid 2px white;
}
.ranking-div__player {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 70%;
}
.ranking-div__player--data {
    text-align: center;
    font-size: 18px;
    width: 150px;
}
.ranking-exitButtonDiv {
    width: 50px;
    margin-right: 40px;
    margin-top: 10px;
    cursor: pointer;
    align-self: flex-end;
}
.ranking-exitButtonImg{
    width: 100%;
}
.ranking-div::-webkit-scrollbar {
    background-color: rgb(0, 0, 0);
    width:2px;
    border-radius: 20px

}
.ranking-div::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    width: 3px;
}
.ranking-div::-webkit-scrollbar-track {
    width: 1px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px
}
