.ranking-container {
    background-color: #000d1c;
    background-image: url("https://www.transparenttextures.com/patterns/brushed-alum-dark.png");
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ranking-div {
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center;
}
.ranking-div__headr {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    width: 70%;
    border-bottom: solid 2px white;
}
.ranking-div__player {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 70%;
}
.ranking-div__player--data {
    text-align: center;
    font-size: 18px;
    width: 150px;
}
.ranking-exitButtonDiv {
    width: 50px;
    margin: 10px 40px;
    cursor: pointer;
    align-self: flex-end;
}
.ranking-exitButtonImg{
    width: 100%;
}